.topbar {
  background-color: rgb(9, 67, 121);
  color: white;
  display: flex;
  justify-content: center;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
}
